@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.navbar {
    height: 100px;
    padding: 0 40px;


    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }

  .nav{
    position:absolute;
    top: 0;
    z-index: 1;;
    width: 100%;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    transition: color 0.3s ease;
    text-shadow: 5px 0px 10px rgba(255, 255, 255, 0.5);
    font-family: Poppins;
    font-size: 25px
  }

  .your-text {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  
  .nav-links li a:hover {
    color: #ffffff;
  }
  



